<div class="form-group"><a class="text-dark" href="/student">/student</a> <a class="text-dark" href="/student/xemthongbao">/Tất cả thông báo</a> <a class="text-dark" href="/student/xemthongbao">/chi tiết thông báo</a></div>
<h2 class="text-center"><%=thongbao.tieude%></h2>
<p><small class="text-muted"><%=thongbao.thoigian%></small></p>
<p><small class="text-muted font-italic"><%=thongbao.phong_khoa%></small></p>
<p><small class="text-muted font-italic">Thuộc chuyên mục: <%=thongbao.chuyenmuc%></small></p>
<br>
<p class="txttext"><%=thongbao.noidung%></p>
